/* Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

html {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.5;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Themes */

.theme-light {
  --bg-color: #ffffff;
  --surface-color: #f5f6f8;
  --text-color: #17181c;
  --text-muted: #545861;
  --border-color: #eceef2;
  --code-bg: #f5f6f8;
  --header-bg: #ffffff;
  --accent-color: #0069cd;
  --accent-hover: #003166;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --output-bg: #f5f6f8;
  --output-border: #c0c2c7;
}

.theme-dark {
  --bg-color: #17181c;
  --surface-color: #24272f;
  --text-color: #ffffff;
  --text-muted: #888b96;
  --border-color: #353841;
  --code-bg: #24272f;
  --header-bg: #17181c;
  --accent-color: #0067c9;
  --accent-hover: #a4ccff;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  --output-bg: #24272f;
  --output-border: #545861;
}

html.theme-dark pre>code span {
  color: var(--shiki-dark);
}

html.theme-light pre>code span {
  color: var(--shiki-light);
}
